.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* businsess, finance go to market */

/* model */

/* market expert */

.btnButton {
  margin: auto;
  display: block;
  margin-top: 16px;
  background: #38369a;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  width: 160px;
}

.tick {
  display: inline-block;
  transform: rotate( 45deg);
  height: 13px;
  width: 7px;
  border-bottom: 3px solid rgb(56, 54, 154);
  border-right: 3px solid rgb(56, 54, 154);
  margin: 0px 9px;
}

.font14 {
  font-size: 15px;
  line-height: 30px;
}

.boxAnalytics {
  border: 1px solid rgb(177, 181, 185);
  padding: 14px;
  width: 360px;
  min-height: 400px;
  border-radius: 10px
}

.inputFormModal {
  border: 1px solid gray;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
}

.floatRight {
  float: right;
}

.formInline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.formInline input {
  width: 46%;
  margin: 2%;
  padding: 10px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd;
}

.formInline textarea {
  width: 100%;
  margin: 2%;
  padding: 10px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd!important;
}

.centerImages {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.centerImages img {
  margin: 30px;
}

.imagesOne {
  height: 150px;
}

.imagesTwo {
  height: 200px;
}

.imagesFour {
  margin: auto;
  margin-top: 25px;
}

.boxAnalytics2 {
  border: 1px solid rgb(177, 181, 185);
  padding: 14px;
  width: 311px;
  height: 523;
  min-height: 470px;
  border-radius: 10px;
  margin-bottom: 3rem;
  /* transition: 0.4s; */
}

/* .boxAnalytics2:hover{
  transform: scale(1.1); 
  transition: 0.4s;
} */

.makeEnquery {
  border: 1px solid #38369A;
  width: 150px;
  text-align: center;
  margin: auto;
  margin-bottom: 18px;
  margin-top: 16px;
}

.bigName {
  font-size: 30px;
}

.selected {
  font-weight: bold;
}

.ReactModal__Overlay--after-open {
  background: rgb(0 0 0 / 51%)!important;
  z-index: 9999
}

.ReactModal__Body--open {
  overflow-y: hidden;
}

.hr {
  margin-top: -30px;
}

.service-panel {
  border: 1px solid #E8F2FA;
}

.service-panel:hover {
  border: 1px solid #3B3A97;
}

.giff {
  margin: auto;
  display: block;
  width: 80%;
}

.contactBtn {
  position: relative;
  left: -12px;
}

.relativeContact {
  position: relative;
  text-align: center;
  margin: auto;
  display: block;
}

.text-justify {
  text-align: justify;
}

.whiteBg {
  background: #fff;
  color: #38369a;
  font-weight: bold;
}

.mgTB10 {
  margin-top: 10px!important;
  margin-bottom: 10px!important;
}

.imgRes {
  width: "431px";
  height: "282px"
}
.marginSlider{
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
  padding-bottom: 40px;
}
.bussinessImg{
  height: 15rem;
  flex-grow: 1
}
.minHeightBussiness{
  width: 511px; height: 507px;
}

@media screen and (min-width: 800px) and (max-width: 1280px) {}

/* ============================================== */

/* HDTV                                           */

/*                                      1920x1080 */

/* ============================================== */

/* @media screen and (min-width: 1281px) and (max-width: 1920px) { */

@media (min-width: 1920px) and (max-width: 2560px) {
  .text-xl {
    font-size: 2.25rem;
    line-height: 3.75rem;
  }
  .text-lg {
    font-size: 2.125rem;
    line-height: 3.75rem;
  }
  .boxAnalytics {
    min-height: 546px;
  }
  .justify-between {
    justify-content: space-around;
  }
}

@media only screen and (max-width:480px) {

  .px-8 {
    padding-left: 4px;
    padding-right: 4px;
  }
  .py-16 {
    padding-top: 4px;
    padding-bottom: 4px
  }
  .p-4 {
    padding: 4px;
  }
  .text-lg {
    font-size: 14px;
    line-height: normal;
  }
  .py-8 {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  .marginSlider{
    background-color: rgb(255, 255, 255);
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .mr-16{
    margin-right:4px
  }
  .pr-4{
    padding-right: 4px;
  }
  .text-3xl{
    font-size:1.5rem
  }
  .ml-32{
    margin-left:4px
  }
  .mr-32{
    margin-right:4px
  }
  .bussinessImg{
    height: 150px;
    flex-grow: 1;
    padding: 12px;
  }
  .minHeightBussiness{
    height: 480px;
  }
  .p-5{
    padding: 0px;
  }
  .mobile{
    display: block!important;
  }
  .mr-20{
    margin-right: 0px;
  }
  .ml-20{
    margin-left: 0px;
  }
  .w-44{
    width: 100%;
  }
}

/* Extra Small Devices, Phones */

@media only screen and (min-width: 480px) {}

/* service card */

.flip-card-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back {
  transform: rotateY(180deg);
}
