.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



/* businsess, finance go to market */
/* model */
/* market expert */

.btnButton {
  margin: auto;
  display: block;
  margin-top: 16px;
  background: #38369a;
  padding: 4px;
  border-radius: 4px;
  color: #fff;
  width: 160px;
}

.tick {
  display: inline-block;
  transform: rotate( 45deg);
  height: 13px;
  width: 7px;
  border-bottom: 3px solid rgb(56, 54, 154);
  border-right: 3px solid rgb(56, 54, 154);
  margin: 0px 9px;
}

.font14{
  font-size: 15px;
  line-height: 30px;
}

.boxAnalytics{
  border: 1px solid rgb(177, 181, 185);
  padding: 14px;
  width: 360px;
  min-height: 400px;
  border-radius: 10px
}

.inputFormModal{
  border: 1px solid gray;
  padding: 4px;
  border-radius: 4px;
  width: 100%;
}

.floatRight{
  float: right;
}

.formInline {  
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.formInline input {
  width: 48%;
  vertical-align: middle;
  margin: 16px 6px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.formInline textarea {
  width:100%;
  margin: 16px 6px;
  padding: 10px;
  vertical-align: middle;
  background-color: #fff;
  border: 1px solid #ddd!important;
}

.centerImages{
  display: flex;
  justify-content: center;
  align-items: baseline;
}

.centerImages img{
 margin: 30px;
}

.imagesOne{
  height: 150px;
}

.imagesTwo{
  height: 200px;
}

.imagesFour{
  margin: auto;
  margin-top: 25px;
}

.boxAnalytics2{
  border: 1px solid rgb(177, 181, 185);
  padding: 14px;
  width: 311px;
  height:523;
  min-height: 470px;
  border-radius: 10px;
  margin-bottom: 3rem;
  /* transition: 0.4s; */
}

/* .boxAnalytics2:hover{
  transform: scale(1.1); 
  transition: 0.4s;
} */

.makeEnquery{
  border: 1px solid #38369A;
  width: 150px;
  text-align: center;
  margin: auto;
  margin-bottom: 18px;
  margin-top: 16px;
}


.bigName{
  font-size: 30px;
}

.selected{
  font-weight:bold;
}

.ReactModal__Overlay--after-open{
  background: rgb(0 0 0 / 51%)!important;
}

.hr{
  margin-top: -30px;
}

.service-panel{
  border: 1px solid #E8F2FA;
}

.service-panel:hover{
  border:1px solid #3B3A97;
}

.giff{
  margin: auto;
  display: block;
  width: 80%;
}

.contactBtn{
  position: relative;
  left: -12px;
}
.relativeContact{
  position: relative;
  text-align: center;
  margin: auto;
  display: block;
}

